# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# ML datasets
ml/price_prediction/data/

# CatBoost logs
catboost_info/

# Python cache
__pycache__/
*.pyc


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# ML datasets
ml/price_prediction/data/archive.zip
ml/price_prediction/data/parquet/
ml/price_prediction/data/*.parquet

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
